body {
    font-family: Arial;
    background: #f4f6f9;
    text-align: center;
}

.container {
    margin-top: 80px;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 250px;
}

button {
    padding: 12px 25px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

h1 {
    color: #333;
}